:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --background-box-dark: #2f303a;
  --background-box-light: #f5f4fa;
  --margin-cards-thirty: 30px;
  --color-icon-main: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* body {
 
} */

img {
  display: block;
  height: auto;
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
