:root {
  --main-text-color: rgb(85, 85, 85);
  --second-text-color: rgb(48, 48, 48);
  --accent-text-color: rgb(255, 108, 0);
  --white-text-color: rgb(255, 255, 255);
  /* --background-box-dark: #2f303a;
  --background-box-light: #f5f4fa;
  --margin-cards-thirty: 30px;
  --color-icon-main: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

html {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* *Header */
.header {
  position: absolute;
  width: 100%;
  left: 0;
}

.header__logo {
  margin-right: 70px;
}

.header__logo:hover {
  transform: scale(1.5);
}
.container--flex {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-right: 40px;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__link {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--white-text-color);
}

.nav__link:last-of-type {
  margin-right: 0;
}

.nav__link:hover,
.nav__link:focus,
.contact__link:focus,
.contact__link:hover {
  color: var(--accent-text-color);
}

.contact--flex {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__link {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--white-text-color);
}

.contact__btn {
  min-width: 160px;
  min-height: 40px;
  margin-left: 40px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: var(--white-text-color);
  background-color: transparent;
  border-color: var(--accent-text-color);
}

.contact__btn:focus,
.contact__btn:hover {
  background-color: var(--accent-text-color);
}

/* *Hero */
.hero__container {
  display: flex;
}

.hero__right {
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../imeges/Slider.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 0 206px 96px;
  flex-grow: 1;
}

.hero__left {
  width: 93px;
  display: flex;
  align-items: flex-end;
}

.hero__list {
  padding-left: 23px;
  padding-top: 23px;
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateX(-15px);
  transform-origin: top left;
}

.hero__list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--second-text-color);
}

.hero__link {
  margin-left: 40px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}

.hero__link:hover,
.hero__link:focus {
  color: var(--accent-text-color);
}

.hero__subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero__subtitle::before {
  content: '';
  margin-right: 21px;
  width: 63px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  margin: 20px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
}
.hero__text {
  max-width: 400px;
  font-size: 18px;
  line-height: 1.22;
  color: rgb(157, 164, 189);
}

/* *Masters */

.section {
  padding: 130px 0;
}

.section-about__list {
  display: flex;
  margin-right: 64px;
}

.section-about__item {
  width: 270px;
  height: 445px;
}

.section-about__item + .section-about__item {
  margin-left: 30px;
}

.wrap {
  padding-right: 30px;
  text-align: start;
  max-width: 503px;
}

.about__title {
  margin: 20px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-text-color);
}

.about__subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.about__subtitle::before {
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: var(--second-text-color);
}

.about__desc {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
}

.about__text {
  margin-bottom: 40px;
  line-height: 1.85;
}

.about__btn {
  min-width: 160px;
  min-height: 40px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: var(--second-text-color);
  background-color: transparent;
  border-color: var(--accent-text-color);
}

.about__btn:hover,
.about__btn:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}

/* *service */

.services__subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.services__subtitle::before {
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.services__title {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
}

.services {
  background-color: rgb(17, 19, 25);
  background-image: url(../imeges/opacity.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
}

.services__text {
  font-size: 18px;
  line-height: 1.66;
  color: rgb(157, 164, 189);
}
.services__text:first-child {
  order: -1;
}
.services__list {
  width: 50%;
  padding: 30px 40px;
}

.services__list--left {
  background: linear-gradient(
    180deg,
    rgba(23, 26, 36, 1),
    rgba(23, 26, 36, 0.2)
  );
}

.services__list--right {
  background: linear-gradient(180deg, rgb(9, 11, 19), rgba(9, 11, 19, 0.2));
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__item::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  margin-right: 6px;
  margin-left: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}

.services--wrap {
  display: flex;
  margin-top: 44px;
  margin-bottom: 50px;
}

.services__btn {
  display: block;
  margin: 0 auto;
  min-width: 160px;
  min-height: 40px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: var(--white-text-color);
  background-color: transparent;
  border-color: var(--accent-text-color);
}

.services__btn:hover,
.services__btn:focus {
  background-color: var(--accent-text-color);
}

/* *Ðœasters */
.masters {
  background-color: #f7f7f7;
}

.masters__list {
  display: flex;
  justify-content: center;
}
.masters__item {
  margin-right: 30px;
}

.masters__item:last-child {
  margin-right: 0;
}
.masters__name {
  margin-bottom: 8px;
  margin-top: 30px;
}
.masters__title {
  margin-top: 20px;
  margin-bottom: 44px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-text-color);
}

.masters__subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.masters__subtitle::before {
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: var(--second-text-color);
}

.masters__name {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.36;
  text-align: center;
  color: var(--second-text-color);
}

.masters__proff {
  margin-bottom: 30px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-text-color);
}
.masters__social--list {
  display: flex;
  justify-content: center;
}
.masters__social--item {
  margin-right: 10px;
}
.masters__social--item:last-child {
  margin-right: 0;
}

.masters__social--link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white-text-color);
}
.masters__social--link:hover {
  fill: var(--accent-text-color);
}
.exemples__list {
  display: flex;
  justify-content: center;
}
.exemples__item {
  margin-right: 30px;
}
.exemples__item:last-child {
  margin-right: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.exemples__text {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.exemples__text::before {
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: var(--second-text-color);
}
.container__section-wrap {
  display: flex;
  background-image: url(/imeges/Bg.png);
  background-color: rgba(25, 28, 38);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}

.left__title,
.right__title {
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
}

.right {
  padding-left: 100px;
  width: calc(50% - 15px);
}

.left {
  padding-left: 56px;
  flex-grow: 1;
}
.address__list {
  max-width: 270px;
}
.address__item {
  margin-bottom: 20px;
}
.address__item:last-child {
  margin-bottom: 0;
}
.address__link {
  font-style: normal;
  line-height: 1.66;
  color: rgba(157, 164, 189);
}
.wrap-time__title {
  margin-top: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189);
}

.wrap-time__title::before {
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgb(157, 164, 189);
}

.wrap-time__text {
  line-height: 1.66;
  color: rgb(157, 164, 189);
}
.address__link {
  display: flex;
}
.address__icon {
  margin-right: 16px;
}
.decoration {
  text-decoration: underline;
}
.left__btn {
  display: block;
  min-width: 160px;
  min-height: 40px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: var(--white-text-color);
  background-color: transparent;
  border-color: var(--accent-text-color);
}
.left__btn:focus,
.left__btn:hover {
  background-color: var(--accent-text-color);
}
/* *footer */
.footer {
  padding-top: 57px;
  padding-bottom: 55px;
  background-color: rgb(247, 247, 247);
}
.footer__copy {
  color: rgb(157, 164, 189);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
}
.footer-list {
  display: flex;
  align-items: center;
}
.footer-link {
  margin-left: 40px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text-color);
}
.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--second-text-color);
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
